# Main Dependencies
three@0.149.0 - 3D library for creating and rendering the galaxy animation
gsap@3.11.4 - Animation library for smooth transitions and effects

# Development Dependencies
@babel/core@7.21.0 - Core Babel functionality for transpiling modern JavaScript
@babel/preset-env@7.20.2 - Babel preset for each environment
webpack@5.75.0 - Module bundler for JavaScript applications
webpack-cli@5.0.1 - Command line interface for webpack
webpack-dev-server@4.11.1 - Development server for webpack
babel-loader@9.1.2 - Webpack loader for Babel
css-loader@6.7.3 - Webpack loader for CSS files
style-loader@3.3.1 - Injects CSS into the DOM
file-loader@6.2.0 - Webpack loader for files

# Installation Instructions
# For npm: npm install
# For yarn: yarn install